
.custom_border_anim{
    
  }
  
  .custom_border_anim:hover:before{
    content: '';
    position: absolute;
    width: 0px;
    bottom: 0px;
    border-bottom: solid 2px #000;
    animation: border_animat 2s linear alternate;
  }
  
  @keyframes border_animat {
    0%{
      width: 0%;
    }
    100%{
      width: 100%;
    }
  }