
.custom-card:hover .custom-btn{
    display: block;
    
}
.custom-btn{
    display: none;
    transition: 5s;
}
/* body {
    position: relative; */
    /* height: 100%;
  } */
.swiper {
   
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%; 
    object-fit: cover;
  }